<%- include('./partials/header')%>
    <!-- <h1><%= title %></h1> -->
    <div class="body-int">
        <div class="intro">
            <h1>Welcome to RaméReview</h1>

            <p>Your ultimate destination for all things ramen! Here at RaméReview, we're
                passionate
                about exploring the rich and diverse world of this beloved Japanese noodle dish. Whether you're a ramen
                aficionado or a curious newcomer, our website is your go-to guide for discovering the best ramen spots,
                learning
                about different regional styles, and unraveling the secrets behind the perfect bowl.
            </p>
            <p>
                Join us on a culinary journey as we traverse bustling city streets and hidden alleyways in search of the
                most
                delectable ramen experiences. From traditional tonkotsu and shoyu to innovative fusion creations, we're
                here
                to
                provide insightful reviews, mouthwatering photos, and helpful tips to enhance your ramen adventures.
            </p>
            <p>
                Get ready to slurp your way through a symphony of flavors, textures, and aromas. Whether you're seeking
                a
                cozy
                neighborhood joint or a trendy ramen bar, RaméReview has you covered. So grab your chopsticks and let's
                dive
                into the wonderful world of ramen together!
            </p>
        </div>
    </div>
    <%- include('./partials/footer')%>