<%- include('../partials/header') %>

    <h2>Enter a New Ramen Shop</h2>
    <form id="new-form" action="/shops/<%= shop._id %>?_method=PUT" method="POST" >
        <label>Restaurant:</label>

        <input type="text" name="restaurant">

        <label>Hours Open:</label>
        <input type="string" name="hoursOpen">

        <label>Ramen:</label>
        <input type="text" name="ramen">

        <!-- <label>Dose Deliver
            <select name="delivers">
                <option value="YES">YES</option>
                <option value="NOPE">NOPE</option>
            </select>
        </label><br> -->
        <label>Dose Deliver:</label>
        <input type="checkbox" name="delivers" checked>

        <button type="submit">Add Shop</button>
    </form>
    <p>
        <%= errorMsg %>
    </p>

    <%- include('../partials/footer') %>