<%- include('../partials/header') %>

<div>Before adding, please ensure that the Top is not in the following list:</div>
<section id="badge-container">
  <% tops.forEach(function(p) { %>
    <article class="badge"><%= p.name %></article>
  <% }) %>
</section>

<form id="add-top-form" action="/tops" method="POST">
  <label>Favorite Ramen:</label>
  <input type="text" name="name">
  <!-- <label>Shop:</label>
  <input type="date" name="born"> -->
  <input type="submit" value="Add Top">
</form>

<%- include('../partials/footer') %>
